<body>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
      <label>Full Name</label>
      <input type="text" class="form-control" formControlName="fullName" />
    </div>

    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" />
    </div>
    <div class="form-group col-md-6">
      <label>Mobile</label>
      <input type="text" class="form-control" formControlName="mobile" />
    </div>
    <div class="form-group col-md-6">
      <label>City</label>
      <input type="text" class="form-control" formControlName="city" />
    </div>
    <div class="form=row">
      <label>Genders</label>
      <div class="form-group col">
        <input type="radio" value="male" formControlName="gender" />
        <label class="form-check-label mx-2">Male</label>

        <input type="radio" value="female" formControlName="gender" />
        <label class="form-check-label mx-2">Female</label>

        <input type="radio" value="other" formControlName="gender" />
        <label class="form-check-label mx-2">Other</label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Department</label>
      <select class="form-control" formControlName="department">
        <option>Angular</option>
        <option>.net</option>
        <option>UI/UX</option>
        <option>QA</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <Label>Hire Date</Label>
      <input type="date" class="form-control" formControlName="hireDate" />
    </div>
    <div class="form-check">
      <input
        class="form-check-input "
        type="checkbox"
        formControlName="permanentEmployee"
      />
      <label class="form-check-label">Permanent Employee</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" (click)="reset()" class="btn btn-danger">
        Clear
      </button>
    </div>
  </form>
</body>
